.ball{
    min-width: 50px;
    min-height: 50px;
    max-width: 50px;
    max-height: 50px;
    border-radius: 30px;
}
.DOMList{
    min-width: 20%;
    max-width: 20%;
    min-height: 1000px;
    border-radius: 15px;
    float: left;
}
.constr{
    float: left;
    margin: 5px;
    min-width: 70%;
    min-height: 1000px;
    border-radius: 15px;
}
.itemsContainer{
    border-radius: 15px;
    padding: 20px;
}
.itemText{
    text-align: center;
    color: white;
    font-size: 20px;
}
.corsina{
    border-radius: 15px;
    color: white;
    font-size: 30px;
    padding: 20px;
    max-width: 50px;
    text-align: center;
}
/*!
 * Materialize v1.0.0-rc.1 (http://materializecss.com)
 * Copyright 2014-2017 Materialize
 * MIT License (https://raw.githubusercontent.com/Dogfalo/materialize/master/LICENSE)
 */